<footer class="col d-flex justify-content-between">
  <span><strong>{{pendientes}}</strong> items pendientes</span>
  <ul class="list-group list-group-horizontal">
    <li *ngFor="let item of filtroValidos"
        (click)="cambiarFiltro(item)"

        class="list-group-item p-1 my-auto">
      <a [ngClass]="{'bg-primary': item === filtroActual}">{{item}}</a>
    </li>
  </ul>
  <button (click)="borrarTodo()" class="btn btn-danger btn-sm">Clear Todo</button>
</footer>
