<li  class="list-group-item">
  <div class="form-group mb-0">
    <input type="checkbox"
           class="form-check-input"
           [formControl]="checkFiel"
           [checked]="todoItem.completado">
    <label *ngIf="!editando; else elseTemplate"
            [ngClass]="{'tachado': todoItem.completado,
                      'text-muted':todoItem.completado}"
            class="my-0"
            (dblclick)="editar()">{{todoItem.texto}}</label>
    <ng-template #elseTemplate>
      <input [ngClass]="{'d-none': !editando}"
             class="form-control"
             type="text"
             (blur)="terminarEdition()"
             [value]="todoItem.texto"
             [formControl]="txtInputItem"
             #txtFisico>
    </ng-template>
    <button (click)="borrar()" class="btn btn-danger"></button>
  </div>
</li>
