<header>
  <h1>Tareas</h1>

    <input
           [formControl]="txtinput"
           (keyup.enter)="agregarTodos()"
           type="text"
           class="form-control"
           autofocus>
</header>
