<app-todo-add></app-todo-add>
<section class="col form-group">
  <input type="checkbox"
         class="form-check-input"
         [formControl]="checkTodo">
  <label (click)="tacharTodos()" for="">Mark all as complet</label>
  <app-todo-list></app-todo-list>
</section>
<app-todo-footer></app-todo-footer>
